<div>
  <h1>登録内容</h1>
  <div>
    <p>こちらの内容で登録しました</p>
  </div>
</div>
<div>
  <tr>
    <th>社員番号:<%= newConfirmation.employee_id %></th><br>
  </tr>
  <tr>
    <th>入社日:<%= newConfirmation.hire_data %></th><br>
  </tr>
  <tr>
    <th>名前:<%= newConfirmation.staff_name %></th><br>
  </tr>
  <tr>
    <th>Password:**********</th><br>
  </tr>
  <tr>
    <th>生年月日:<%= newConfirmation.birthday %></th><br>
  </tr>
  <tr>
    <th>性別:<%=  gender%></th><br>
  </tr>
  <tr>
    <th>役職:<%=  positionId%></th><br>
  </tr>