<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%# 必要に応じてcssをloadする %>
  <%#  必要に応じてscriptをloadする %>
</head>

<body>
  <header>
    <%# header作成スペース %>
    <div class=header>
      <%- include('partials/m_header'); %>
      <%- include('partials/s_header'); %>
      <h1>layout header</h1>
    </div>

    <div class="flash">
    <% if (flashMessages) { %>
		<% if (flashMessages.success) { %>
		<div class="flash success">
			<%= flashMessages.success %>
		</div>
		<% } else if (flashMessages.error) { %>
		<div class="flash error">
			<%= flashMessages.error %>
		</div>
		<% } %>
		<% } %>
    </div>
  </header>

  <div class="container">
    <%- body %>
  </div>

  <footer>
    <%# footer作成スペース %>
    <div>
      <%- include('partials/footer'); %>
    </div>
    <h1>layout footer</h1>
  </footer>
</body>

</html>

<%# ejs活用参考URL：https://ejs.co %>
<%# Expressではres.localsに格納する事でビューに表示させれる %>