<head>
  <link href="/css/modal.css" rel="stylesheet">
</head>

 <!-- <p>利用者IDはあえて設定していないが、同日入所の同日者重なるのはよくない/どうすれば良いか考える/通常のIDと名前で複合キーを作れば良い？？？</p> -->
<%- include('r_header'); %>

<div id="mask" class="hidden"></div> <!-- 背景全体を暗くする -->

<div class="data_form">
<p class="annotation"><small class="annotation_staff"> 管理者は8からはじまる社員番号で登録してください<br> Care Staffは7からはじまる社員番号で登録してください<br> 性別,ADLは半角数字で入力してください<br> パスワードは半角英字1文字以上、<br>半角数字1文字以上を含み8桁〜15桁で作成してください</small></p>
  <form class="signup" action="/careRecords/create" method="POST">

    <label for="inputEntranceData">入所日</label>
    <input type="date" name="entrance_data" id="inputEntranceData" class="form-control" placeholder="yyyy/mm/dd"
      value="<%- newUserConfirmation.entrance_data %>" required>
    <br />
    <label for="inputUserName">名前</label>
    <input type="text" name="user_name" id="inputUserName" class="form-control" placeholder="利用者名前"
      value="<%- newUserConfirmation.user_name %>">
    <br />
    <label for="inputGender">性別</label>
    <input type="number" name="genders_gender_id" id="inputGender" class="form-control"
      value="<%- newUserConfirmation.genders_gender_id %>" min="1" max="2" placeholder="1:男,2:女"　required>
    <br />
    <label for="inputAdl">ADL</label>
    <input type="number" name="adls_adl_id" id="inputAdl" class="form-control"
      value="<%- newUserConfirmation.adls_adl_id %>" min="1" max="3" placeholder="1:自立,2:見守り,3:要介護" required>
    <br />
    
    <section id="modal" class="hidden">
    <div class="output">
      <h4>こちらの内容で登録しますか？</h4>
      <h6 id="recMessage"></h6>
      <p id="outputEntranceData"></p>
      <p id="outputUserName"></p>
      <p id="outputGender"></p>
      <p id="outputAdl"></p>
      </div>

      <button id="close" class="bmodal_btntn" name='action2' value="ぼたん2だよ">戻る</button>
      <button class="btn" name='action' value="ぼたんだよ">登録</button>
    </section>
  </form>
  <div id="open">
    <div class="modal_to_btn">
      <button id="open_modal">登録</button>
    </div>
  </div>

  <script src="/js/modalUser.js"></script>