
 
<head>
    <link href="/css/list.css" rel="stylesheet">
</head>
 
 <div class="staff_list">
 <div class="staff_list_in">
 <% staffList.forEach(staffList => { %>
 <ul>
 <li id="staff_list">
 <a href="<%=`/managers/staffs/${staffList.staff_id}`%>">
<%= staffList.staff_name %></a>
</li>
</ul>
<% }); %>
</div>
</div>



<table>
  <tr>
    <td>社員番号：</td> <td><%= staffEmployeeId %> </td>
  </tr>
  <tr>
    <td>名前：</td> <td><%=  staffName%> </td>
  </tr>
  <tr>
    <td>誕生日</td> <td><%=  %> </td>
  </tr>
  <tr>
    <td>性別</td> <td><%=  %> </td>
  </tr>
</table>
